<app-modal
    *ngIf="modalOpen"
    (closeModalEvent)="modalOpen = false"
    (NextPuzzlesEvent)="nextPuzzles(); modalOpen = false"
>
</app-modal>
<div class="row pt-5">
    <div class="col-6">
        <ngx-chess-board
            #board
            [size]="size"
            [lightTileColor]="lightTileColor"
            (moveChange)="moveCallback($event)"
            [dragDisabled]="dragDisabled"
            [drawDisabled]="drawDisabled"
            [darkTileColor]="darkTileColor"
            [lightDisabled]="lightDisabled"
            [darkDisabled]="darkDisabled"
            [freeMode]="freeMode"
        >
        </ngx-chess-board>
    </div>

    <div class="col-6">
      <div class="row bg-dark">

      
        <div class="row g-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" class="form-control" id="floatingInputGrid" value="1500" [(ngModel)]="rate"/>
                    <label for="floatingInputGrid">Rating</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" class="form-control" id="floatingInputGrid" value="50" [(ngModel)]="popularity" />
                    <label for="floatingInputGrid">Popularity</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInputGrid" value="Arabian mate" [(ngModel)]="theme" />
                    <label for="floatingInputGrid">Theme</label>
                </div>
            </div>
        </div>
        <button
            type="button"
            class="btn btn mt-3 mb-3 w-25 mx-auto"
            style="background-color: darkkhaki;"
            (click)="getPuzzlesByFilter()"
        >
            Filter 
        </button>
        
        <hr>

        <div id="lasteMoveMessage"></div>
        <div id="messageContainer"></div>
        <button
            type="button"
            class="btn btn mt-3 mb-3 w-25 mx-auto"
            *ngIf="nexteMoveBool"
            style="margin-left: auto; margin-right: 10px ;background-color: darkkhaki;"
            (click)="nextPuzzles()"
        >
            Next Puzzles
        </button>
      
        <div id="falseMove" *ngIf="bool">
            <button
                type="button"
                class="btn btn mt-3 mb-3 w-25 mx-auto"
                style="margin-left: auto; margin-right: 10px;background-color: red;"
                (click)="reload()"
            >
                reload
            </button>
        </div>
      </div>

    </div>
</div>
